In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('BAN-PL_1.csv')
df1

          id                                               Text  Class
0       2200  \n\n\n            Polska wtedy oficjalnie powi...      0
1       2201  \n  Gigantyczna różnica\n\n{USERNAME}: biorac ...      0
2       2202  \n\n            {USERNAME}: Moj kumpel budowla...      0
3       2203         kura, rzodkiewka za 3pln to nie jest tanio      0
4       2204  {USERNAME}: większość nie idzie w marszu za PO...      0
...      ...                                                ...    ...
23995  12563  Polaczki jebane XD na wszystko narzekać byle n...      1
23996  12564  jakaś muzyka normicka dudni ehhh w sumie i tak...      1
23997  12565  {USERNAME}: "[pseudonym]" czy raczej zjeb ze s...      1
23998    NaN  {USERNAME} {USERNAME} kurwy Michał [surname] k...      1
23999  12691  Przecież murzynów nie da się szanować ani tole...      1

[24000 rows x 3 columns]

In [3]:
df1.drop(columns='id', inplace=True)
df1.rename(columns={'Text' : 'text', 'Class' : 'bin_toxicity'}, inplace=True)
df1['lang'] = 'pl'

In [4]:
df2 = pd.read_parquet('civil_comments_test.parquet')
df2['lang'] = 'eng'
df2

,text,toxicity,severe_toxicity,obscene,threat,insult,identity_attack,sexual_explicit,lang
0,[ Integrity means that you pay your debts.]\n\...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,eng
1,This is malfeasance by the Administrator and t...,0.100000,0.0,0.0,0.0,0.100000,0.000000,0.0,eng
2,@Rmiller101 - Spoken like a true elitist. But ...,0.300000,0.0,0.0,0.0,0.200000,0.000000,0.0,eng
3,"Paul: Thank you for your kind words. I do, in...",0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,eng
4,Sorry you missed high school. Eisenhower sent ...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,eng
...,...,...,...,...,...,...,...,...,...
97315,He should lose his job for promoting mis-infor...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,eng
97316,"""Thinning project is meant to lower fire dange...",0.166667,0.0,0.0,0.0,0.166667,0.166667,0.0,eng
97317,I hope you millennials are happy that you put ...,0.400000,0.0,0.0,0.0,0.400000,0.100000,0.0,eng
97318,I'm thinking Kellyanne Conway (a.k.a. The Trum...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,eng
97319,I still can't figure why a pizza in AK cost mo...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,eng

In [5]:
np.random.seed(0)
df = pd.concat([df1.iloc[np.random.choice(df1.shape[0], size=200), :], df2.iloc[np.random.choice(df2.shape[0], size=200), :]], axis=0)

In [6]:
df = df.reset_index(drop=True)
df

,text,bin_toxicity,lang,toxicity,severe_toxicity,obscene,threat,insult,identity_attack,sexual_explicit
0,Kto tak pisze? Ja takiej opinie nie widzialem ...,0.0,pl,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,{USERNAME}: naj@@?ny to do domu a nie do teatru.,0.0,pl,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ale czy to nie jest to czego chcą wykopki w zn...,0.0,pl,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"{USERNAME}: Dawaj numer do twojej starej, tej ...",1.0,pl,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Żydzi ostatnimi czasy usilnie dążą do kolejneg...,1.0,pl,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
395,"They were kind of screwy today, weren't they? ...",NaN,eng,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
396,"Sure, we're the good guys. Mulroney already g...",NaN,eng,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
397,It is time to start putting up roadblocks comi...,NaN,eng,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0
398,"Um, this was the spending that was being toute...",NaN,eng,0.166667,0.0,0.0,0.0,0.166667,0.166667,0.0
399,"Please keep the ""Nastytoga"". I know who you mean.",NaN,eng,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0

In [7]:
df.to_csv("test_data.csv", index=False)