In [37]:
import pandas as pd
import numpy as np

In [38]:
df1 = pd.read_csv('BAN-PL_1.csv')

In [39]:
df1.drop(columns='id', inplace=True)
df1.rename(columns={'Text' : 'text', 'Class' : 'bin_toxicity'}, inplace=True)
df1['lang'] = 'pl'
df1

                                                    text  bin_toxicity lang
0      \n\n\n            Polska wtedy oficjalnie powi...             0   pl
1      \n  Gigantyczna różnica\n\n{USERNAME}: biorac ...             0   pl
2      \n\n            {USERNAME}: Moj kumpel budowla...             0   pl
3             kura, rzodkiewka za 3pln to nie jest tanio             0   pl
4      {USERNAME}: większość nie idzie w marszu za PO...             0   pl
...                                                  ...           ...  ...
23995  Polaczki jebane XD na wszystko narzekać byle n...             1   pl
23996  jakaś muzyka normicka dudni ehhh w sumie i tak...             1   pl
23997  {USERNAME}: "[pseudonym]" czy raczej zjeb ze s...             1   pl
23998  {USERNAME} {USERNAME} kurwy Michał [surname] k...             1   pl
23999  Przecież murzynów nie da się szanować ani tole...             1   pl

[24000 rows x 3 columns]

In [40]:
df2 = pd.read_parquet('civil_comments_test.parquet')
df2['lang'] = 'eng'
df2['bin_toxicity'] = (df2['toxicity'] > 0.5).astype(int)
df2

,text,toxicity,severe_toxicity,obscene,threat,insult,identity_attack,sexual_explicit,lang,bin_toxicity
0,[ Integrity means that you pay your debts.]\n\...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,eng,0
1,This is malfeasance by the Administrator and t...,0.100000,0.0,0.0,0.0,0.100000,0.000000,0.0,eng,0
2,@Rmiller101 - Spoken like a true elitist. But ...,0.300000,0.0,0.0,0.0,0.200000,0.000000,0.0,eng,0
3,"Paul: Thank you for your kind words. I do, in...",0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,eng,0
4,Sorry you missed high school. Eisenhower sent ...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,eng,0
...,...,...,...,...,...,...,...,...,...,...
97315,He should lose his job for promoting mis-infor...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,eng,0
97316,"""Thinning project is meant to lower fire dange...",0.166667,0.0,0.0,0.0,0.166667,0.166667,0.0,eng,0
97317,I hope you millennials are happy that you put ...,0.400000,0.0,0.0,0.0,0.400000,0.100000,0.0,eng,0
97318,I'm thinking Kellyanne Conway (a.k.a. The Trum...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,eng,0
97319,I still can't figure why a pizza in AK cost mo...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,eng,0

In [41]:
df1_ = pd.concat([df1.loc[df1.bin_toxicity==0][:100], df1.loc[df1.bin_toxicity==1][:100]], axis=0)
df1_

                                                    text  bin_toxicity lang
0      \n\n\n            Polska wtedy oficjalnie powi...             0   pl
1      \n  Gigantyczna różnica\n\n{USERNAME}: biorac ...             0   pl
2      \n\n            {USERNAME}: Moj kumpel budowla...             0   pl
3             kura, rzodkiewka za 3pln to nie jest tanio             0   pl
4      {USERNAME}: większość nie idzie w marszu za PO...             0   pl
...                                                  ...           ...  ...
12095                           Jebane proruskie pedaly.             1   pl
12096  #wybory [surname] [surname] [surname] i [surna...             1   pl
12097  {USERNAME} weź się w łeb pierdolnij spis będzi...             1   pl
12098  Aha czyli typ jak wyrucha 500 kobiet to jest s...             1   pl
12099  w tej [pseudonym] to chyba debile jebane tylko...             1   pl

[200 rows x 3 columns]

In [42]:
df2_ = pd.concat([df2.loc[df2.bin_toxicity==0][:100], df2.loc[df2.bin_toxicity==1][:100]], axis=0)
df2_

,text,toxicity,severe_toxicity,obscene,threat,insult,identity_attack,sexual_explicit,lang,bin_toxicity
0,[ Integrity means that you pay your debts.]\n\...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,eng,0
1,This is malfeasance by the Administrator and t...,0.100000,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,eng,0
2,@Rmiller101 - Spoken like a true elitist. But ...,0.300000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,eng,0
3,"Paul: Thank you for your kind words. I do, in...",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,eng,0
4,Sorry you missed high school. Eisenhower sent ...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,eng,0
...,...,...,...,...,...,...,...,...,...,...
1463,Junior is either an uneducated moron or a sham...,0.671429,0.042857,0.185714,0.000000,0.642857,0.242857,0.000000,eng,1
1466,Bull shit there is no Race about it so let's n...,0.962963,0.074074,0.814815,0.037037,0.888889,0.018519,0.000000,eng,1
1521,"THAT WAS MY POINT, DICK. Holy hell. Christians...",0.771429,0.185714,0.600000,0.000000,0.628571,0.628571,0.385714,eng,1
1525,We require people to take a test before granti...,0.800000,0.000000,0.100000,0.000000,0.800000,0.000000,0.100000,eng,1
1532,"And Women are still being oppressed, repressed...",0.513514,0.027027,0.040541,0.013514,0.459459,0.243243,0.000000,eng,1

In [43]:
df = pd.concat([df1_, df2_], axis=0).reset_index(drop=True)
df

,text,bin_toxicity,lang,toxicity,severe_toxicity,obscene,threat,insult,identity_attack,sexual_explicit
0,\n\n\n Polska wtedy oficjalnie powi...,0,pl,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,\n Gigantyczna różnica\n\n{USERNAME}: biorac ...,0,pl,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,\n\n {USERNAME}: Moj kumpel budowla...,0,pl,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"kura, rzodkiewka za 3pln to nie jest tanio",0,pl,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,{USERNAME}: większość nie idzie w marszu za PO...,0,pl,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
395,Junior is either an uneducated moron or a sham...,1,eng,0.671429,0.042857,0.185714,0.000000,0.642857,0.242857,0.000000
396,Bull shit there is no Race about it so let's n...,1,eng,0.962963,0.074074,0.814815,0.037037,0.888889,0.018519,0.000000
397,"THAT WAS MY POINT, DICK. Holy hell. Christians...",1,eng,0.771429,0.185714,0.600000,0.000000,0.628571,0.628571,0.385714
398,We require people to take a test before granti...,1,eng,0.800000,0.000000,0.100000,0.000000,0.800000,0.000000,0.100000
399,"And Women are still being oppressed, repressed...",1,eng,0.513514,0.027027,0.040541,0.013514,0.459459,0.243243,0.000000

In [44]:
df.to_csv("test_data.csv", index=False)